<a href="https://colab.research.google.com/github/Jinsoloust/Section1_PR/blob/main/Section2%20PR.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Section 2 Project. 데이터셋을 사용한 머신러닝 모델을 제작

데이터셋 전처리/EDA부터 모델을 해석하는 과정을 colab을 사용하여 작성하고, 해당 내용을 기반으로 설명하는 영상을 작성.

반드시 다음과 같은 내용을 포함해야 한다.

1) 데이터 선정 이유 및 문제 정의

2) 데이터를 이용한 가설 및 평가지표, 베이스라인 선택

3) EDA와 데이터 전처리

4) 머신러닝 방식 적용 및 교차검증

5) 머신러닝 모델 해석

주제 : World Happines Report를 통해 분석해보는 국가 행복의 요인

In [1]:
# 파일 불러오기

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/world-happiness-report.csv')
df.head(5)

  Country name  year  ...  Positive affect  Negative affect
0  Afghanistan  2008  ...            0.518            0.258
1  Afghanistan  2009  ...            0.584            0.237
2  Afghanistan  2010  ...            0.618            0.275
3  Afghanistan  2011  ...            0.611            0.267
4  Afghanistan  2012  ...            0.710            0.268

[5 rows x 11 columns]